@page "/revize/{parametr}"
@inject HttpClient Http

<h1 style="color: green">@parametr</h1>

<div>
    <input class="border" type="text" @bind-value=vyhledavaniString />
    <button class="twbtn bg-amber-300" @onclick="@Vypsani">Vyhledej</button>

    @if (listRevizi != null)
    {
        @foreach(var rev in listRevizi)
        {
            <div>Id: @rev.Id Jmeno: @rev.Name</div>
        }
    }
    else
    {
        
    }
</div>

@code {
    [Parameter] public string parametr { get; set; } = "";

    string vyhledavaniString = "";

    List<RevizeModel>? listRevizi;

    async Task Vypsani()
    {
        listRevizi = await Http.GetFromJsonAsync<List<RevizeModel>>($"revize/{vyhledavaniString}"); 
    }

}
